In [45]:
import numpy as np
import pandas as pd

import ast

import pyarrow.parquet as pq

# Read and merge dataframes

#### Read dataframe

In [46]:
df_main = pd.read_csv('input/10k_main.csv', index_col=0)
df_main.head(5)

,Movie_id,title,Genres,release_date,Keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count
0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814
1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,28341469,78.664,8.7,22542
2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1974-12-20,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,102600000,55.752,8.6,10187
3,19404,Dilwale Dulhania Le Jayenge,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-10-19,[],"Raj is a rich, carefree, happy-go-lucky second...",/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,100000000,100000000,22.150,8.6,3927
4,424,Schindler's List,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",1993-12-15,"[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,321365567,321365567,53.542,8.6,13382

In [47]:
df_main = df_main.rename(columns={'Movie_id':'id'})
df_main.head(3)

,id,title,Genres,release_date,Keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count
0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814
1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,28341469,78.664,8.7,22542
2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1974-12-20,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,102600000,55.752,8.6,10187

In [48]:
df_cred = pd.read_parquet('input/10k_credits.parquet')
df_cred.head(5)

,id,budget,production_companies,production_countries,revenue,spoken_languages,genres,runtime,tagline,crew,cast-name
0,238,6000000,"['Paramount', 'Alfran Productions', 'American ...",['United States of America'],245066411,"['English', 'Italian', 'Latin']","['Drama', 'Crime']",175,An offer you can't refuse.,"{'Producer': 'Francis Ford Coppola', 'Screenpl...","['Marlon Brando', 'Al Pacino', 'James Caan', '..."
1,278,25000000,['Castle Rock Entertainment'],['United States of America'],28341469,['English'],"['Drama', 'Crime']",142,Fear can hold you prisoner. Hope can set you f...,"{'Editor': 'Richard Francis-Bruce', 'Productio...","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."
2,240,13000000,"['Paramount', 'The Coppola Company', 'American...",['United States of America'],102600000,"['English', 'Italian', 'Latin', 'Spanish']","['Drama', 'Crime']",202,The rise and fall of the Corleone empire.,"{'Producer': 'Francis Ford Coppola', 'Novel': ...","['Al Pacino', 'Robert Duvall', 'Diane Keaton',..."
3,19404,13200000,['Yash Raj Films'],['India'],100000000,['Hindi'],"['Comedy', 'Drama', 'Romance']",190,"Come… Fall In love, All Over Again…","{'Director': 'Aditya Chopra', 'Story': 'Aditya...","['Kajol', 'Shah Rukh Khan', 'Amrish Puri', 'Fa..."
4,424,22000000,['Amblin Entertainment'],['United States of America'],321365567,"['German', 'Polish', 'Hebrew', 'English']","['Drama', 'History', 'War']",195,"Whoever saves one life, saves the world entire.","{'Original Music Composer': 'John Williams', '...","['Liam Neeson', 'Ben Kingsley', 'Ralph Fiennes..."

### Merge dataframes

In [49]:
# enable to see all columns in a notebook
pd.set_option('display.max_columns', None)

# enable to see all rows in a notebook
pd.set_option('display.max_rows', None)

In [50]:
df = pd.merge(df_main, df_cred, on='id')
df.head(5)

,id,title,Genres,release_date,Keywords,overview,poster_path,Budget,Revenue,popularity,vote_average,vote_count,budget,production_companies,production_countries,revenue,spoken_languages,genres,runtime,tagline,crew,cast-name
0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,245066411,93.552,8.7,16814,6000000,"['Paramount', 'Alfran Productions', 'American ...",['United States of America'],245066411,"['English', 'Italian', 'Latin']","['Drama', 'Crime']",175,An offer you can't refuse.,"{'Producer': 'Francis Ford Coppola', 'Screenpl...","['Marlon Brando', 'Al Pacino', 'James Caan', '..."
1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,28341469,78.664,8.7,22542,25000000,['Castle Rock Entertainment'],['United States of America'],28341469,['English'],"['Drama', 'Crime']",142,Fear can hold you prisoner. Hope can set you f...,"{'Editor': 'Richard Francis-Bruce', 'Productio...","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."
2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",1974-12-20,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,102600000,55.752,8.6,10187,13000000,"['Paramount', 'The Coppola Company', 'American...",['United States of America'],102600000,"['English', 'Italian', 'Latin', 'Spanish']","['Drama', 'Crime']",202,The rise and fall of the Corleone empire.,"{'Producer': 'Francis Ford Coppola', 'Novel': ...","['Al Pacino', 'Robert Duvall', 'Diane Keaton',..."
3,19404,Dilwale Dulhania Le Jayenge,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-10-19,[],"Raj is a rich, carefree, happy-go-lucky second...",/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,100000000,100000000,22.150,8.6,3927,13200000,['Yash Raj Films'],['India'],100000000,['Hindi'],"['Comedy', 'Drama', 'Romance']",190,"Come… Fall In love, All Over Again…","{'Director': 'Aditya Chopra', 'Story': 'Aditya...","['Kajol', 'Shah Rukh Khan', 'Amrish Puri', 'Fa..."
4,424,Schindler's List,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",1993-12-15,"[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,321365567,321365567,53.542,8.6,13382,22000000,['Amblin Entertainment'],['United States of America'],321365567,"['German', 'Polish', 'Hebrew', 'English']","['Drama', 'History', 'War']",195,"Whoever saves one life, saves the world entire.","{'Original Music Composer': 'John Williams', '...","['Liam Neeson', 'Ben Kingsley', 'Ralph Fiennes..."

### Drop duplicates columns

In [51]:
df = df.drop(columns=(['Revenue', 'Genres', 'budget']))
df.head(5)

,id,title,release_date,Keywords,overview,poster_path,Budget,popularity,vote_average,vote_count,production_companies,production_countries,revenue,spoken_languages,genres,runtime,tagline,crew,cast-name
0,238,The Godfather,1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,93.552,8.7,16814,"['Paramount', 'Alfran Productions', 'American ...",['United States of America'],245066411,"['English', 'Italian', 'Latin']","['Drama', 'Crime']",175,An offer you can't refuse.,"{'Producer': 'Francis Ford Coppola', 'Screenpl...","['Marlon Brando', 'Al Pacino', 'James Caan', '..."
1,278,The Shawshank Redemption,1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,78.664,8.7,22542,['Castle Rock Entertainment'],['United States of America'],28341469,['English'],"['Drama', 'Crime']",142,Fear can hold you prisoner. Hope can set you f...,"{'Editor': 'Richard Francis-Bruce', 'Productio...","['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."
2,240,The Godfather Part II,1974-12-20,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,55.752,8.6,10187,"['Paramount', 'The Coppola Company', 'American...",['United States of America'],102600000,"['English', 'Italian', 'Latin', 'Spanish']","['Drama', 'Crime']",202,The rise and fall of the Corleone empire.,"{'Producer': 'Francis Ford Coppola', 'Novel': ...","['Al Pacino', 'Robert Duvall', 'Diane Keaton',..."
3,19404,Dilwale Dulhania Le Jayenge,1995-10-19,[],"Raj is a rich, carefree, happy-go-lucky second...",/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,100000000,22.150,8.6,3927,['Yash Raj Films'],['India'],100000000,['Hindi'],"['Comedy', 'Drama', 'Romance']",190,"Come… Fall In love, All Over Again…","{'Director': 'Aditya Chopra', 'Story': 'Aditya...","['Kajol', 'Shah Rukh Khan', 'Amrish Puri', 'Fa..."
4,424,Schindler's List,1993-12-15,"[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,321365567,53.542,8.6,13382,['Amblin Entertainment'],['United States of America'],321365567,"['German', 'Polish', 'Hebrew', 'English']","['Drama', 'History', 'War']",195,"Whoever saves one life, saves the world entire.","{'Original Music Composer': 'John Williams', '...","['Liam Neeson', 'Ben Kingsley', 'Ralph Fiennes..."

# Create extra columns

### Evaluate dtypes

In [52]:
# Function that safely evaluates a string representation of a literal Python expression and returns the corresponding Python object

list_items = ['Keywords', 'crew', 'cast-name', 'spoken_languages', 'genres', 'production_countries', 'production_companies']

for item in list_items:

    df[item] = df[item].apply(ast.literal_eval)

### Define functions

##### From list of dictionaries

In [53]:
# Key words
def extract_from_list_dict(genre_list, key):
    result_list = [genre[key] for genre in genre_list]
    result = None if len(result_list) == 0 else result_list[0]
    return result


def add_col_list_dict(df,new_col_name, origin_col_name, key):
    df[new_col_name] = df[origin_col_name].apply(extract_from_list_dict, key=key)

##### From dictionaries

In [54]:
# Professions
def add_col_dict(df, new_col_name, searched_item, searched_col_name):
    add_col = [key.get(searched_item, np.nan) for key in df[searched_col_name]]
    df[new_col_name] = add_col

##### From list - 2 items

In [55]:
# Define a function to extract the first and second items from a list
def extract_2_items(actor_list):
    return actor_list[:2] if actor_list else [None, None]


def add_2_items_list(df, new_col_name1, new_col_name2, source_col_name):
    # Apply the function using a list comprehension to create two new columns
    df[[new_col_name1, new_col_name2]] = pd.DataFrame(df[source_col_name].apply(extract_2_items).tolist(), index=df.index)

##### From list - 1 item

In [56]:
# Define a function to extract the first item from a list
def extract_1_item(actor_list):
    return actor_list[:1] if actor_list else [None]


def add_1_item_list(df, new_col_name1, source_col_name):
    # Apply the function using a list comprehension to create two new columns
    df[[new_col_name1]] = pd.DataFrame(df[source_col_name].apply(extract_1_item).tolist(), index=df.index)

### Call functions for extra cols

In [57]:
# Keywords
add_col_list_dict(  df,
                    new_col_name='keyword', 
                    origin_col_name='Keywords', 
                    key='name'
                    )

df.head(1)

,id,title,release_date,Keywords,overview,poster_path,Budget,popularity,vote_average,vote_count,production_companies,production_countries,revenue,spoken_languages,genres,runtime,tagline,crew,cast-name,keyword
0,238,The Godfather,1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,93.552,8.7,16814,"[Paramount, Alfran Productions, American Zoetr...",[United States of America],245066411,"[English, Italian, Latin]","[Drama, Crime]",175,An offer you can't refuse.,"{'Producer': 'Francis Ford Coppola', 'Screenpl...","[Marlon Brando, Al Pacino, James Caan, Robert ...",italy

In [58]:
# Professions
add_col_dict(df=df, 
        new_col_name='director', 
        searched_item='Director', 
        searched_col_name='crew'
        )

add_col_dict(df=df, 
        new_col_name='producer', 
        searched_item='Producer', 
        searched_col_name='crew'
        )

add_col_dict(df=df, 
        new_col_name='sound', 
        searched_item='Original Music Composer', 
        searched_col_name='crew'
        )

add_col_dict(df=df, 
        new_col_name='camera', 
        searched_item='Director of Photography', 
        searched_col_name='crew'
        )

add_col_dict(df=df, 
        new_col_name='screenplay', 
        searched_item='Screenplay', 
        searched_col_name='crew'
        )


df.head(2)

,id,title,release_date,Keywords,overview,poster_path,Budget,popularity,vote_average,vote_count,production_companies,production_countries,revenue,spoken_languages,genres,runtime,tagline,crew,cast-name,keyword,director,producer,sound,camera,screenplay
0,238,The Godfather,1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,93.552,8.7,16814,"[Paramount, Alfran Productions, American Zoetr...",[United States of America],245066411,"[English, Italian, Latin]","[Drama, Crime]",175,An offer you can't refuse.,"{'Producer': 'Francis Ford Coppola', 'Screenpl...","[Marlon Brando, Al Pacino, James Caan, Robert ...",italy,Francis Ford Coppola,Francis Ford Coppola,Nino Rota,Gordon Willis,Francis Ford Coppola
1,278,The Shawshank Redemption,1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,78.664,8.7,22542,[Castle Rock Entertainment],[United States of America],28341469,[English],"[Drama, Crime]",142,Fear can hold you prisoner. Hope can set you f...,"{'Editor': 'Richard Francis-Bruce', 'Productio...","[Tim Robbins, Morgan Freeman, Bob Gunton, Will...",prison,Frank Darabont,Niki Marvin,Thomas Newman,Roger Deakins,Frank Darabont

In [59]:
# Actors
add_2_items_list(   df=df, 
                    new_col_name1='actor1', 
                    new_col_name2='actor2', 
                    source_col_name='cast-name'
                )

df.head(2)

,id,title,release_date,Keywords,overview,poster_path,Budget,popularity,vote_average,vote_count,production_companies,production_countries,revenue,spoken_languages,genres,runtime,tagline,crew,cast-name,keyword,director,producer,sound,camera,screenplay,actor1,actor2
0,238,The Godfather,1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,93.552,8.7,16814,"[Paramount, Alfran Productions, American Zoetr...",[United States of America],245066411,"[English, Italian, Latin]","[Drama, Crime]",175,An offer you can't refuse.,"{'Producer': 'Francis Ford Coppola', 'Screenpl...","[Marlon Brando, Al Pacino, James Caan, Robert ...",italy,Francis Ford Coppola,Francis Ford Coppola,Nino Rota,Gordon Willis,Francis Ford Coppola,Marlon Brando,Al Pacino
1,278,The Shawshank Redemption,1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,78.664,8.7,22542,[Castle Rock Entertainment],[United States of America],28341469,[English],"[Drama, Crime]",142,Fear can hold you prisoner. Hope can set you f...,"{'Editor': 'Richard Francis-Bruce', 'Productio...","[Tim Robbins, Morgan Freeman, Bob Gunton, Will...",prison,Frank Darabont,Niki Marvin,Thomas Newman,Roger Deakins,Frank Darabont,Tim Robbins,Morgan Freeman

In [60]:
add_1_item_list(df=df, 
            new_col_name1='production_company', 
            source_col_name='production_companies'
            )


add_1_item_list(df=df, 
            new_col_name1='production_country', 
            source_col_name='production_countries'
            )


add_1_item_list(df=df, 
            new_col_name1='genre', 
            source_col_name='genres'
            )


add_1_item_list(df=df, 
            new_col_name1='spoken_language', 
            source_col_name='spoken_languages'
            )

df.head(2)

,id,title,release_date,Keywords,overview,poster_path,Budget,popularity,vote_average,vote_count,production_companies,production_countries,revenue,spoken_languages,genres,runtime,tagline,crew,cast-name,keyword,director,producer,sound,camera,screenplay,actor1,actor2,production_company,production_country,genre,spoken_language
0,238,The Godfather,1972-03-14,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,93.552,8.7,16814,"[Paramount, Alfran Productions, American Zoetr...",[United States of America],245066411,"[English, Italian, Latin]","[Drama, Crime]",175,An offer you can't refuse.,"{'Producer': 'Francis Ford Coppola', 'Screenpl...","[Marlon Brando, Al Pacino, James Caan, Robert ...",italy,Francis Ford Coppola,Francis Ford Coppola,Nino Rota,Gordon Willis,Francis Ford Coppola,Marlon Brando,Al Pacino,Paramount,United States of America,Drama,English
1,278,The Shawshank Redemption,1994-09-23,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,78.664,8.7,22542,[Castle Rock Entertainment],[United States of America],28341469,[English],"[Drama, Crime]",142,Fear can hold you prisoner. Hope can set you f...,"{'Editor': 'Richard Francis-Bruce', 'Productio...","[Tim Robbins, Morgan Freeman, Bob Gunton, Will...",prison,Frank Darabont,Niki Marvin,Thomas Newman,Roger Deakins,Frank Darabont,Tim Robbins,Morgan Freeman,Castle Rock Entertainment,United States of America,Drama,English

### Drop source columns

In [61]:
df = df.drop(columns=(['Keywords', 'genres', 'crew', 'cast-name', 'spoken_languages', 'production_countries', 'production_companies']))
df.head(5)

,id,title,release_date,overview,poster_path,Budget,popularity,vote_average,vote_count,revenue,runtime,tagline,keyword,director,producer,sound,camera,screenplay,actor1,actor2,production_company,production_country,genre,spoken_language
0,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,93.552,8.7,16814,245066411,175,An offer you can't refuse.,italy,Francis Ford Coppola,Francis Ford Coppola,Nino Rota,Gordon Willis,Francis Ford Coppola,Marlon Brando,Al Pacino,Paramount,United States of America,Drama,English
1,278,The Shawshank Redemption,1994-09-23,Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,78.664,8.7,22542,28341469,142,Fear can hold you prisoner. Hope can set you f...,prison,Frank Darabont,Niki Marvin,Thomas Newman,Roger Deakins,Frank Darabont,Tim Robbins,Morgan Freeman,Castle Rock Entertainment,United States of America,Drama,English
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,55.752,8.6,10187,102600000,202,The rise and fall of the Corleone empire.,italy,Francis Ford Coppola,Francis Ford Coppola,Nino Rota,Gordon Willis,Mario Puzo,Al Pacino,Robert Duvall,Paramount,United States of America,Drama,English
3,19404,Dilwale Dulhania Le Jayenge,1995-10-19,"Raj is a rich, carefree, happy-go-lucky second...",/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,100000000,22.150,8.6,3927,100000000,190,"Come… Fall In love, All Over Again…",None,Aditya Chopra,Yash Chopra,Lalit Pandit,Manmohan Singh,Aditya Chopra,Kajol,Shah Rukh Khan,Yash Raj Films,India,Comedy,Hindi
4,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,321365567,53.542,8.6,13382,321365567,195,"Whoever saves one life, saves the world entire.",based on novel or book,Steven Spielberg,Branko Lustig,John Williams,Janusz Kamiński,Steven Zaillian,Liam Neeson,Ben Kingsley,Amblin Entertainment,United States of America,Drama,German

#### Rename columns

In [62]:
df = df.rename(columns={
                        'Budget' : 'budget'
                        })

df.head(3)

,id,title,release_date,overview,poster_path,budget,popularity,vote_average,vote_count,revenue,runtime,tagline,keyword,director,producer,sound,camera,screenplay,actor1,actor2,production_company,production_country,genre,spoken_language
0,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,93.552,8.7,16814,245066411,175,An offer you can't refuse.,italy,Francis Ford Coppola,Francis Ford Coppola,Nino Rota,Gordon Willis,Francis Ford Coppola,Marlon Brando,Al Pacino,Paramount,United States of America,Drama,English
1,278,The Shawshank Redemption,1994-09-23,Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,78.664,8.7,22542,28341469,142,Fear can hold you prisoner. Hope can set you f...,prison,Frank Darabont,Niki Marvin,Thomas Newman,Roger Deakins,Frank Darabont,Tim Robbins,Morgan Freeman,Castle Rock Entertainment,United States of America,Drama,English
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,102600000,55.752,8.6,10187,102600000,202,The rise and fall of the Corleone empire.,italy,Francis Ford Coppola,Francis Ford Coppola,Nino Rota,Gordon Willis,Mario Puzo,Al Pacino,Robert Duvall,Paramount,United States of America,Drama,English

# Export cleaned dataframe into Parquet

In [63]:
df.to_parquet('output/cleaned_data.parquet')

In [64]:
# Test the data
test = pd.read_parquet('output/cleaned_data.parquet')
test.head(2)

,id,title,release_date,overview,poster_path,budget,popularity,vote_average,vote_count,revenue,runtime,tagline,keyword,director,producer,sound,camera,screenplay,actor1,actor2,production_company,production_country,genre,spoken_language
0,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,245066411,93.552,8.7,16814,245066411,175,An offer you can't refuse.,italy,Francis Ford Coppola,Francis Ford Coppola,Nino Rota,Gordon Willis,Francis Ford Coppola,Marlon Brando,Al Pacino,Paramount,United States of America,Drama,English
1,278,The Shawshank Redemption,1994-09-23,Framed in the 1940s for the double murder of h...,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,28341469,78.664,8.7,22542,28341469,142,Fear can hold you prisoner. Hope can set you f...,prison,Frank Darabont,Niki Marvin,Thomas Newman,Roger Deakins,Frank Darabont,Tim Robbins,Morgan Freeman,Castle Rock Entertainment,United States of America,Drama,English